[submodule "spin"]
	path = spin
	url = https://github.com/yuansc/jorgin-spin.git
        branch = develop
[submodule "swingx"]
	path = swingx
	url = https://github.com/yuansc/jorgan-swingx
	branch = develop
[submodule "awesfx"]
	path = awesfx
	url = git@github.com:yuansc/awesfx.git
	branch = feature/jorgan-0.5.2
